.route-from-geolocation,
.route-to-geolocation {
    color: rgba(0,155,222,.5);
    background-color: rgba(24, 61, 93,.8);
}
table, th, td {
    /*border: 1px solid black;*/
}
table {
    border-collapse: collapse;
    width: 100%
}
th, td {
    padding: 30px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}